.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
nav li{display: inline; background-color: rgb(192, 129, 255);}
nav li a{color: rgb(253, 253, 253)}
/*input{border-radius: 50%;}*/
body{
    background-color: white;
    color: rgb(0, 0, 0);

}