.alert-success {
    color: green
}

.alert-warning {
    color: orange;
}

.alert-danger {
    color: red;
}

.alert-info {
    color: rgb(164, 66, 255);
}




/* navi horizontal & get rid of marker */
nav li
{
    display: inline;
}

/* giving navi background */
nav 
{
    list-style-type: none;
    background-color: rgb(142, 116, 255);
}

nav li
{
    display: inline-block;
    padding: 14px 16px;
    color: white;
}

/* changing link background on hover */
nav li:hover
{
    background-color:rgb(92, 76, 163)
}

nav li:active
{
    background-color: white;
}

/* extra styling: adding border between links */
nav li:not(:last-child)
{
    padding: 1em;
    margin: 0 -.25em;
    border-right: solid 2px #fff;
}






/*header font*/
div h2
{
    font-family: cursive;
    color: rgb(169, 116, 255);
}

/*width of input fields*/
.form-floating.mb-3 
{
    min-width: 300px;
    max-width: 400px;
}

/*center container -- not quite working*/
#container-fluid
{
    width: 500px;
}