.alert-success {
    color: green
}

.alert-warning {
    color: orange;
}

.alert-danger {
    color: red;
}

.alert-info {
    color: rgb(164, 66, 255);
}




/* navi horizontal & get rid of marker */
nav li
{
    display: inline;
}

/* giving navi background */
nav ul
{
    list-style-type: none;
    position: fixed;
    top: 0;
    /*margin-right: 0; /*1325px;*/
    padding: 0;
    /*overflow: hidden;*/
    background-color: rgb(142, 116, 255);
}

nav li a
{
    display: inline-block;
    padding: 14px 16px;
    color: white;
}

/* changing link background on hover */
nav li a:hover
{
    background-color:rgb(92, 76, 163)
}

nav li a:active
{
    background-color: white;
}

/* extra styling: adding border between links */
nav li:not(:last-child)
{
    padding: 1em;
    margin: 0 -.25em;
    border-right: solid 2px #fff;
}




/*input{border-radius: 50%;}*/
body
{
    background-color: rgb(242, 231, 255);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(0, 0, 0);
}

div, label
{  
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    color: rgb(118, 32, 255);
}

div, input
{
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    /*margin: 0 -.25em;*/
    color: black;
}

div
{
    text-align: center;
    width: 350px;
    box-sizing: border-box;
    background: rgb(196, 151, 255);
    padding: 40px;
    width: 350px;
}